.App {
  text-align: center;
}
.tile-holder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info {
  margin: 100px 20px 0 5px;
  text-align: right;
  padding-top: 5%;
  width: 30%;
}

#line1 {
  width: 60%;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: 0;
}
#line-br {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
}
#line2 {
  font-size: 2em;
  color: blueviolet;
  font-size: 1em;
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: 1320px) {
  #line2 {
    margin-left: 10px;
  }

  #line1 {
    width: 80%;
    margin-left: 10px;
  }
}

@media (max-width: 1282px) {
  .tile-holder {
    flex-direction: column;
  }

  .info {
    width: 80%;
    margin: 0;
    text-align: center;
  }
  #line2 {
    margin-left: auto;
    margin-right: auto;
  }

  #line1 {
    margin-left: auto;
    margin-right: auto;
  }
  #line-br {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
